@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');


@import 'variables' ;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-stack;
}
body{
    height: 100vh;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:$bg-color;
}
.container{
    width: 100%;
    margin-top: 250px;
    padding: 50px 0;
    background-color: $containerBg-color;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
    place-items: center;

}

.right{
    display: grid;
    place-items: center;
    gap:20px;
}

.primary-btn{
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 5px;
    border:1px solid $bg-color;
    color:#fff;
    background-color: $bg-color;
    box-shadow: 0 2px 2px $bg-color;

}
.secondary-btn{
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 5px;
    border:1px solid $bg-color;
    color:$bg-color;
    background-color: #fff;

}
.card{
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $cardBg-color;
    transition: all 0.60s ease-in-out;

        &:hover{
            box-shadow: 0 4px 4px 4px $primary-color;
            transform:scale(1.05);
        }



        h1{

            font-size: 24px;
            font-weight: 600;
            text-align: center;
            margin-top: 30px;
            margin-bottom: 0 ;
            color: $primary-color;
            text-transform: capitalize;
        }

        &__body{
            width: 100%;
            margin: 30px 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            &--item{
            width: 100%;
            display: flex;
            align-self: center;
            justify-content: space-between;
            margin: 10px 0;

                .profile{
                    display: flex;
                    justify-content:space-evenly;
                    align-items: center;

                    img{
                        width: 40px;
                        height: 40px;
                        object-fit: cover;
                        border-radius: 50%;
                        display: block;
                        margin-right: 10px;
                    }

                    .text{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;


                        h2{
                            font-size: 14px;
                            font-weight: 600;
                        }
                        small{
                            font-size: 10px;
                            font-weight: 300;
                            color: $bg-color;
                        }
                    }
                }

            }

        }

}


.card__one{
    width: 300px;
    height: 450px;
}

.card__two{
    width: 280px;
    height: 120px;

    h2{
        margin-bottom: 0;
        font-size: 20px;
    }
    .card__text{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p{
            font-size:14px;
        }

        button{
            padding: 5px 10px;


        }
    }


}
.card__three{
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    h2{
        margin: 10px 0;
    }
     p{
         margin-bottom: 20px;
     }

    button{
        margin-bottom: 10px;
        padding: 5px 15px;
    }
}

@import 'medias'